* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

video {
    position: absolute;
}

#webcamContainer {
    position: relative;
    width: 45vw;
    min-height: 480px;
}

#landmarkOverlay {
    z-index: 2;
    position: absolute;
    pointer-events: none;
}

#jsonContainer {
    overflow: scroll;
    max-height: 10vh;
    width: 20vw;
}